.hidden {
  display: none;
}

.submain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60vh;
}

.submain_greeting {
  color: whitesmoke;
  font-style: italic;
}

#greeting {
  font-size: 60px;
}

#login-form ::placeholder,
#todo-form ::placeholder {
  font-size: 15px;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

#todo-form {
  margin-top: 20px;
  padding: 20px;
}

#todo-list {
  padding-right: 120px;
  font-style: italic;
  font-size: x-large;
  color: midnightblue;
}

#todo-list span {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.rain {
  color: red;
}

@keyframes appearTodoListInputbox {
  from {
    opacity: 0.3;
    width: 400px;
  }
  to {
    opacity: 1;
    width: 800px;
    transform: none;
  }
}
.input_box {
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}
.wide_input {
  width: 400px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  border: none;
  opacity: 0.3;
  transition: opacity 0.6s ease, width 0.6s ease;
}

.wide_input:focus {
  opacity: 1;
  width: 800px;
  animation: appearTodoListInputbox 0.6s else-in-out forwards;
}

#weather {
  color: whitesmoke;
  font-style: italic;
  font-size: 50px;
}

#quote {
  font-style: italic;
  font-size: xx-large;
}

#quote span:last-child {
  font-weight: bold;
}

.linear-gradient {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
